body {
  font-family: "Roboto", "Tahoma", sans-serif;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

/* ----------HEADER---------- */

.main-nav {
  display: flex;
  align-items: center;
}

.header-navi {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.header-logo span {
  color: #212121;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.header-link:hover {
  color: #2196f3;
}

.header-link:focus {
  color: #2196f3;
}

.header-list-contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.header-mail:hover {
  color: #2196f3;
}

.header-mail:focus {
  color: #2196f3;
}

.header-tel:hover {
  color: #2196f3;
}

.header-tel:focus {
  color: #2196f3;
}

/* ----------HERO---------- */

.hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-top-text {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  margin-bottom: 200px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

/* ----------MAIN---------- */

.main-list {
  display: flex;
}

.main-item {
  margin-right: 30px;
  margin-bottom: 94px;
}

.main-item:last-child {
  margin-right: 0;
}

.main {
  padding-top: 0;
  padding-bottom: 0;
}

.main-top-text {
  margin-top: 94px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.main-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

/* ----------PICTURE---------- */

.picture-list {
  display: flex;
}

.picture-item {
  margin-right: 30px;
  margin-bottom: 94px;
}

.picture-item:last-child {
  margin-right: 0;
}

.picture-top-text {
  padding-top: 94px;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/* ----------AUTHOR---------- */

.author-list {
  display: flex;
}

.author-item {
  margin-right: 30px;
  margin-bottom: 94px;
}

.author-item:last-child {
  margin-right: 0;
}

.author {
  background-color: #f5f4fa;
}

.author-top-text {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.author-desc {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.author-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

/* ----------FOOTER---------- */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.footer-logo span {
  color: #ffffff;
}

.footer-contacts {
  font-style: normal;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* ----------PORTFOLIO---------- */

.button-list {
  display: flex;
}

.projects-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.projects-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.button-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}

.button-btn:hover {
  background-color: #2196f3;
}

.button-btn:focus {
  background-color: #2196f3;
}

.projects-top-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.projects-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: #757575;
}
